html {
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    background-color: #000;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    text-align: center;
}

.header-content h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
    border: none;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ddd;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#intro .intro-content,
#intro .image {
    width: 50%;
    padding: 20px;
    text-align: left;
}

#intro .image {
    margin-top: 38px;
    padding: 20px;
}

#intro h1 {
    margin: 0;
}

#intro h3 {
    margin: 10px 0;
}

.contact i{
    margin: 0 10px;
    color: white;
    transition: color 0.3s;
    font-size: large;
    padding: 5px;
}

.contact i:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.project-btn {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #000;
    padding: 15px 30px;
    border: none;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s;
}

.project-info {
    padding: 10px;
}

.project-btn:hover {
    background-color: #333;
    color: #fff;
}

.image img {
    width: 100%;
}

#skills,
#languages {
    background-color: #000;
}

#projects {
    background-color: #000;
}

.skills-icons,
.languages-icons,
.projects-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.skill,
.project,
.language {
    margin: 15px;
    text-align: center;
    flex: 1 1 150px;
}

.skill i,
.language i {
    color: #fff;
    margin-bottom: 10px;
    font-size: 3rem;
}

.project {
    border: 1px #333 solid;
    border-radius: 3px;
}

.project img {
    width: 100%;
    transition: transform 0.3s;
}

.view_project {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    border: none;
    font-weight: 600;
    transition: background 0.3s;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.view_project:hover {
    background-color: #333;
    color: #fff;
}

footer {
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.social-links a {
    margin: 0 10px;
    color: white;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ddd;
}

@media (max-width: 991.98px) {
    body {
        font-size: 12px;
    }

    #intro {
        flex-direction: column;
        height: auto;
    }

    #intro .intro-content {
        width: 100%;
    }

    #intro .image {
        display: none;
    }

    .nav-links {
        flex-direction: row;
    }

    .nav-links li {
        margin: 5px 0;
        padding: 5px;
    }

    .skills-icons,
    .languages-icons {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 15px;
    }
}